*{
    padding: 0;
    margin: 0;
}
body{
   
}
nav{
    background:yellow;
    height: 20vh;
    margin-left: 137px;
    margin-right:137px;
}
.nav-bar{
    display: flex;}
.nav-bar ul{
    display: flex;
margin-left: 57%;
margin-top: 54px
    }
.nav-bar ul li{
margin-left: 65px;
}